*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#container{
    height: 100%;
    width: 100%;
}
#navi{
    height:130px ;
    width:100%;
    color: rgba(240, 248, 255, 0.867);
}
#navi #movE{
    height: 40px;
    width: 100%;
    background-color: black;
}

#movE a{
    font-size: 20px;
    color: rgb(245, 246, 247);
}
#naviB{
    height:80px;
    background-color: rgba(244, 244, 248, 0.858);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}
#naviB h1{
    color: black;
    font-weight: bolder;
    font-size: 25px;

}
#naviB input{
    height:50px;
    width:850px;
    border-radius:10px;
    background-color: rgba(240, 248, 255, 0.711);
}
#naviB h3{
    font-size: 15px;
    color: black;
}
.be {
    font-size: 16px;

    height:50px ;
    width:90px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.sub{
    height:50px;
    width:150px;
    border-radius:10px;
}
#bo{
    height: 280px;
    width: 100%;
    background-color: rgba(244, 244, 248, 0.858);
}
#bo h1{
    font-size: 180px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bo marquee{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#imgT{
    height: 600px;
    width: 100%;
    background-color:rgba(244, 244, 248, 0.858);
    position: relative;
    
}
#imgT img{
    height:600px;
    width:90%;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%,-50%);
    
}    
#imgt2 h1{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 70px;
    text-decoration: underline;
}
    